<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Auth0 App</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="activate">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="activate">
          <a class="nav-link" routerLink="/precios">Precios</a>
        </li>
        <li class="nav-item" routerLinkActive="activate">
          <a class="nav-link" routerLink="/protegida">Protegido</a>
        </li>
      </ul>
      <div class="navbar-text">
        <div *ngIf="autentificado">
          <button (click)="logout()"  type="button" class="btn btn-warning" >Logout</button>
        </div>
        <div #loggedOut *ngIf="!autentificado">
          <button (click)="login()" *ngIf="!autentificado" type="button" class="btn btn-secondary">Login</button>
        </div>
      </div>
    </div>
  </div>
</nav>

